.news-card {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .news-card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  .news-image-container {
    height: 200px;
    overflow: hidden;
  }
  
  .news-image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  